<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user: ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.email}"></td>
      <td>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          id="edit-button"
          data-bs-toggle="modal"
          th:attr="data-bs-target='#editModal' + ${user.id}"
        >
          <i class="fas fa-edit"></i>
          Edit
        </button>

        <!-- Modal edit user -->
        <div class="modal fade" th:id="'editModal' + ${user.id}">
          <form
            th:action="@{/user/update}"
            th:object="${useredit}"
            method="post"
          >
            <div class="modal-dialog" role="dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit User</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <div class="card-body">
                    <div class="form-group">
                      <input
                        type="hidden"
                        class="form-control"
                        id="userId"
                        th:value="${user.id}"
                        name="id"
                      />
                    </div>
                    <div class="form-group">
                      <label for="firstname">First Name</label>
                      <input
                        type="text"
                        class="form-control"
                        th:id="${'firstname_'+user.id}"
                        th:value="${user.firstName}"
                        name="newFirstName"
                      />
                    </div>
                    <!-- <p
                      th:errors="*{firstName}"
                      style="color: red"
                      th:if="${#fields.hasErrors('firstName')}"
                    ></p> -->
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input
                        type="text"
                        class="form-control"
                        th:id="${'lastname_'+user.id}"
                        th:value="${user.lastName}"
                        name="newLastName"
                      />
                    </div>
                    <!-- <p
                      th:errors="*{lastName}"
                      style="color: red"
                      th:if="${#fields.hasErrors('lastName')}"
                    ></p> -->
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input
                        type="email"
                        name="oEmail"
                        class="form-control"
                        id="email"
                        th:value="${user.email}"
                        readonly
                      />
                    </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    th:data-id="${user.id}"
                    type="button"
                    class="btn btn-primary"
                    onclick="updateUser(this.getAttribute('data-id'))"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <button
          type="button"
          class="btn btn-danger"
          id="delete-button"
          data-bs-toggle="modal"
          th:attr="data-bs-target='#deleteModal' + ${user.id}"
        >
          <i class="fas fa-trash"></i>
          Delete
        </button>
        <!-- Modal delete user -->
        <div class="modal fade" th:id="'deleteModal' + ${user.id}">
          <div class="modal-dialog" role="dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <p>Are you sure you want to delete this user?</p>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
                <button
                  th:data-id="${user.id}"
                  type="button"
                  class="btn btn-danger"
                  id="confirm-delete"
                  onclick="deleteHandle(this.getAttribute('data-id'))"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr th:if="${errorMessage}">
      <td colspan="4" th:text="${errorMessage}"></td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a
        tabindex="-1"
        id="previousPageButton"
        class="page-link"
        th:data-page="${pageNumber1}"
        th:data-size="${users.size}"
        th:data-total="${users.totalPages}"
        th:data-keyword="${keyWord}"
        onclick="handlePreviousClick(this.getAttribute('data-page'),this.getAttribute('data-size'),this.getAttribute('data-total'),this.getAttribute('data-keyword'))"
        href="#"
        th:style="${isPre ? 'display: inline-block;' : 'display: none;'}"
        >Previous</a
      >
    </li>

    <li id="data_page" class="page-item">
      <a
        id="pageNo"
        th:data-total="${users.totalPages}"
        href="#"
        th:text="${pageNumber1}"
        th:data-page="${pageNumber1}"
        style="color: blue; font-size: 22px; margin-right: 8px"
      ></a>
    </li>

    <li class="page-item">
      <a
        class="page-link"
        th:data-page="${pageNumber1}"
        th:data-size="${users.size}"
        th:data-total="${users.totalPages}"
        th:data-keyword="${keyWord}"
        onload=""
        onclick="handleNextClick(this.getAttribute('data-page'),this.getAttribute('data-size'),this.getAttribute('data-total'),this.getAttribute('data-keyword'))"
        href="#"
        id="nextPageButton"
        th:style="${isNext ? 'display: inline-block;' : 'display: none ;'}"
        >Next</a
      >
    </li>
  </ul>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- Xử Lý chức năng update User  -->
<script>
  function updateUser(id) {
    var userId = id;
    var newFirstName = $("#firstname_" + id).val();
    var newLastName = $("#lastname_" + id).val();
    console.log(newFirstName, newLastName);

    $.ajax({
      type: "POST",
      url: "/user/update",
      data: JSON.stringify({
        id: userId,
        newFirstName: newFirstName,
        newLastName: newLastName,
      }),
      success: function (data) {
        $("#editModal" + userId).modal("hide"); // Đóng modal sau khi cập nhật
        $.ajax({
          type: "Get",
          url: "/user/load-data", // Gọi lại controller "getalldata"
          success: function (response) {
            // Thay đổi phần hiển thị dữ liệu trên trang với dữ liệu mới
            $("#user_table").html(response);
          },
        });
      },
      error: function (e) {
        console.log(e);
      },
      dataType: "json",
      contentType: "application/json",
    });
  }
</script>
<!-- xử lý chức năng xóa -->
<script>
  function deleteHandle(id) {
    // loadUserData();
    $.ajax({
      type: "POST",
      url: "/user/delete", // Điều này cần phù hợp với URL của bạn
      data: { userId: id },
      success: function (data) {
        $("#deleteModal" + id).modal("hide");
        $.ajax({
          type: "Get",
          url: "/user/load-data", // Gọi lại controller "getalldata"
          success: function (response) {
            // Thay đổi phần hiển thị dữ liệu trên trang với dữ liệu mới
            $("#user_table").html(response);
          },
        });
      },
    });
  }
</script>

<script>
  function handleNextClick(currentPage, pageSize, totalPages, keyword) {
    var pageNumber = Number(currentPage) + 1;
    $.ajax({
      type: "Post",
      url: "/user/search",
      data: {
        keyword: keyword,
        pageNumber: pageNumber,
        size: pageSize,
      },
      success: function (data) {
        $("#user_table").html(data);
      },
    });
  }

  function handlePreviousClick(currentPage, pageSize, totalPages, keyWord) {
    var pageNumber = Number(currentPage) - 1;

    $.ajax({
      type: "Post",
      url: "/user/search",
      data: {
        keyword: keyWord,
        pageNumber: pageNumber,
        size: pageSize,
      },
      success: function (data) {
        $("#user_table").html(data);
      },
    });
  }
</script>
